<section class="home-clients">
	<div class="client-list clearfix">
		<div class="section-header">
			<img src="/img/laurendoes_bracket.svg"/>
			<h2>Clients</h2>
		</div>
		<div class="client">
			<img src="/img/client-microsoft.png" alt="" />
		</div>
		<div class="client">
			<img src="/img/client-GEO.png" alt="" />
		</div>
		<div class="client">
			<img src="/img/client-tbij.png" alt="" />
		</div>
		<div class="client">
			<img src="/img/client-everywoman.png" alt="" />
		</div>
		<div class="client">
			<img src="/img/client-MIT.png" alt="" />
		</div>
		<div class="client">
			<img src="/img/client-Kinetic.png" alt="" />
		</div>
	</div>
</section>