<footer class="site-footer">
    <div class="footer-content clearfix">
	    <div class="footer-nav">
	    	<img src="/img/LD_logo_long_white.svg" alt="Laurendoes" />
	    	<ul>
	        {% for page in site.pages %}
	            {% if page.title %}
	                {% unless page.title == 'Home' %}
		                <li><a class="page-link" href="{{ page.url }}">{{ page.title }}</a></li>
	                {% endunless %}
	            {% endif %}
            {% endfor %}
            </ul>
	    </div>
		<ul class="social-media-list">
			<li class="behance">
				<a title="Behance" target="_blank" href= "http://www.behance.net/LaurenDoes"><img src="/img/behance.svg" alt="Behance" /></a>
			</li>
			<li class="dribbble">
				<a title="Dribble" target="_blank" href= "https://dribbble.com/laurendoes"><img src="/img/dribbble.svg" alt="Dribble" /></a>
			</li>
			<li class="linkedin">
				<a title="Linkedin" target="_blank" href= "http://linkedin.com/in/laurendoes"><img src="/img/linkedin.svg" alt="Linkedin" /></a>
			</li>
			<li class="twitter">
				<a title="Twitter" target="_blank" href= "https://twitter.com/laurendoestweet"><img src="/img/twitter.svg" alt="Twitter" /></a>
			</li>
			<li class="email">
				<a title="Email" href= "mailto:hello@laurendo.es"><img src="/img/email.svg" alt="Email" /></a>
			</li>
		</ul>
    </div>
    <img class="squiggle" src="/img/jagged-squiggle_orange.svg" />
</footer>