<footer class="site-footer">
    <div class="footer-content clearfix">
	    <div class="footer-nav">
	    	<img src="/img/LD_logo_long_white.svg" alt="Laurendoes" />
	    	<ul>
	        {% for page in site.pages %}
	            {% if page.title %}
	                {% unless page.title == 'Home' %}
		                <li><a class="page-link" href="{{ page.url }}">{{ page.title }}</a></li>
	                {% endunless %}
	            {% endif %}
            {% endfor %}
            </ul>
	    </div>
		<ul class="social-media-list">
			<li class="behance">
				<a title="Behance" target="_blank" href= "http://www.behance.net/LaurenDoes" hreflang="en">
					<img src="/img/behance.svg" alt="Behance" />
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 69.4 69.4" style="enable-background:new 0 0 69.4 69.4;" xml:space="preserve">
					<style type="text/css">
						.st0{fill:none;stroke:#E5097E;stroke-width:3.4304;stroke-linecap:square;stroke-miterlimit:10;}
					</style>
					<path class="st0" d="M34.7,1.7c18.2,0,33,14.8,33,33c0,18.2-14.8,33-33,33s-33-14.8-33-33S16.5,1.7,34.7,1.7"/>
					</svg>
				</a>
			</li>
			<li class="dribbble">
				<a title="Dribble" target="_blank" href= "https://dribbble.com/laurendoes" hreflang="en">
					<img src="/img/dribbble.svg" alt="Dribble" />
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 69.4 69.4" style="enable-background:new 0 0 69.4 69.4;" xml:space="preserve">
					<style type="text/css">
						.st0{fill:none;stroke:#E5097E;stroke-width:3.4304;stroke-linecap:square;stroke-miterlimit:10;}
					</style>
					<path class="st0" d="M34.7,1.7c18.2,0,33,14.8,33,33c0,18.2-14.8,33-33,33s-33-14.8-33-33S16.5,1.7,34.7,1.7"/>
					</svg>
				</a>
			</li>
			<li class="linkedin">
				<a title="Linkedin" target="_blank" href= "http://linkedin.com/in/laurendoes">
					<img src="/img/linkedin.svg" alt="Linkedin" />
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 69.4 69.4" style="enable-background:new 0 0 69.4 69.4;" xml:space="preserve">
					<style type="text/css">
						.st0{fill:none;stroke:#E5097E;stroke-width:3.4304;stroke-linecap:square;stroke-miterlimit:10;}
					</style>
					<path class="st0" d="M34.7,1.7c18.2,0,33,14.8,33,33c0,18.2-14.8,33-33,33s-33-14.8-33-33S16.5,1.7,34.7,1.7"/>
					</svg>
				</a>
			</li>
			<li class="twitter">
				<a title="Twitter" target="_blank" href= "https://twitter.com/laurendoestweet">
					<img src="/img/twitter.svg" alt="Twitter" />
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 69.4 69.4" style="enable-background:new 0 0 69.4 69.4;" xml:space="preserve">
					<style type="text/css">
						.st0{fill:none;stroke:#E5097E;stroke-width:3.4304;stroke-linecap:square;stroke-miterlimit:10;}
					</style>
					<path class="st0" d="M34.7,1.7c18.2,0,33,14.8,33,33c0,18.2-14.8,33-33,33s-33-14.8-33-33S16.5,1.7,34.7,1.7"/>
					</svg>
				</a>
			</li>
			<li class="email">
				<a title="Email" href= "mailto:hi@laurendo.es">
					<img src="/img/email.svg" alt="Email" />
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 69.4 69.4" style="enable-background:new 0 0 69.4 69.4;" xml:space="preserve">
					<style type="text/css">
						.st0{fill:none;stroke:#E5097E;stroke-width:3.4304;stroke-linecap:square;stroke-miterlimit:10;}
					</style>
					<path class="st0" d="M34.7,1.7c18.2,0,33,14.8,33,33c0,18.2-14.8,33-33,33s-33-14.8-33-33S16.5,1.7,34.7,1.7"/>
					</svg>
				</a>
			</li>
		</ul>
    </div>
    <img class="squiggle" src="/img/jagged-squiggle_orange.svg" />
</footer>