<section class="home-work">
	<div class="work-list clearfix">
		<div class="section-header">
			<img src="/img/laurendoes_bracket.svg"/>
			<h2>Projects</h2>
		</div>
		<ul class="work-list js-packery" data-packery-options='{ "itemSelector": "li", "gutter": 0, "percentPosition": true }'>
		  <div class="packery-layout-shim"></div>
			{% for post in site.posts %}
			<li class="{{post.image_type}} {{ post.type }}">
				<div class="dummy"></div>
				<div class="element"> 	        
				    <a href="{{ post.url }}">
				    	<img class="cover-image" src="{{ post.image_link }}" alt="{{post.title}}"/>
				    	<div>
				    		<span>
				    			<img class="squiggle" src="/img/jagged-squiggle_pink.svg" />
				    			<h4>{{ post.title }}</h4>
				    			<p>{{ post.description }}</p>
				    			<p class="type">{{ post.type }}</p>
				    			<img class="dot" src="/img/LD_dot.svg" />
				    		</span>
				    	</div>
				    </a>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>