/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "susy/sass/_susy";

$blue: #154899;
$grey: #d0d0d0;
$light-grey: #f5f5f5;

$susy: (
  columns: 12,
  gutters: 1/6,
  gutter-position: split,
  debug: (
      image: show,
      output: overlay
    )
);

$base-line-height: 1rem;

body {
    @include container;
    font-family: 'museo-sans', sans-serif;
    font-weight: 300;
}

h2 {
    padding: 0.5em 0;
    margin: 0;
    font-weight: 700;
    text-transform: lowercase;
}

.site-header {
    background-color: $blue;
}

.site-footer {
    background-color: white;

    .footer-nav {
        margin: 0;
        padding: 0;
        display: none;
    }

    .social-media-list {
        @include container;
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            @include span(4 of 12);
            text-align: center;

            a {
                display: inline-block;
                width: 66px;
                height: 66px;
                border-radius: 33px;
            }

            &:first-of-type a {
                background: #e40d7d; /* Old browsers */
                background: -moz-linear-gradient(-45deg, #e40d7d 66%, #254e9d 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right bottom, color-stop(66%,#e40d7d), color-stop(100%,#254e9d)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(-45deg, #e40d7d 66%,#254e9d 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(-45deg, #e40d7d 66%,#254e9d 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(-45deg, #e40d7d 66%,#254e9d 100%); /* IE10+ */
                background: linear-gradient(135deg, #e40d7d 66%,#254e9d 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40d7d', endColorstr='#254e9d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }

            &:nth-of-type(2) a {
                background: #e40d7d; /* Old browsers */
                background: -moz-linear-gradient(-45deg, #e40d7d 33%, #254e9d 66%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right bottom, color-stop(33%,#e40d7d), color-stop(66%,#254e9d)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(-45deg, #e40d7d 33%,#254e9d 66%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(-45deg, #e40d7d 33%,#254e9d 66%); /* Opera 11.10+ */
                background: -ms-linear-gradient(-45deg, #e40d7d 33%,#254e9d 66%); /* IE10+ */
                background: linear-gradient(135deg, #e40d7d 33%,#254e9d 66%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40d7d', endColorstr='#254e9d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }

            &:last-of-type a {
                background: #e40d7d; /* Old browsers */
                background: -moz-linear-gradient(-45deg, #e40d7d 0%, #254e9d 66%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e40d7d), color-stop(66%,#254e9d)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(-45deg, #e40d7d 0%,#254e9d 66%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(-45deg, #e40d7d 0%,#254e9d 66%); /* Opera 11.10+ */
                background: -ms-linear-gradient(-45deg, #e40d7d 0%,#254e9d 66%); /* IE10+ */
                background: linear-gradient(135deg, #e40d7d 0%,#254e9d 66%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40d7d', endColorstr='#254e9d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }
        }
    }
}

.home-banner {
    background-color: $blue;
    padding-top: gutter() * 6;
    padding-bottom: gutter() * 6;

    ul {
        margin: 0;
        margin-left: gutter() * 3;
        margin-right: gutter() * 3;
        padding: 0;
    }

    li {
        list-style-type: none;

        a {
            text-decoration: none;
        }

        h1 {
            color: white;
            text-transform: lowercase;
            margin: 0;
        }
    }
}

.home-work {
    padding-bottom: gutter() * 2;
}

.packery-layout-shim {
    width: gutter() * 2;
}

.work-list {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }

    img {
        max-width: 100%;
    }
}

.home-clients {
    background-color: $grey;
    @include container;
    padding-bottom: gutter() * 2;

    .client {
        @include span(4 of 12);
        display: inline-block;

        img {
            max-width: 100%;
        }
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 35em) {
    .site-header {
        @include span(12 of 12);
        padding-top: gutter() * 2;
    }
    .site-title {
        display: inline-block;
        float: left;
    }
    .site-subtitle {
        text-align: center;
        
        h1 {
            font-size: 6rem;
        }
    }
    .menu-icon {
        display: none;
    }
    .nav-links {
        float: right;

        a {
            border: 2px solid #e60d7e;
            padding: 0.25em 0.5em;
            text-transform: lowercase;
            text-decoration: none;
            font-size: 1.25em;
            font-weight: 700;
            letter-spacing: 0.02em;
            color: #ffffff;
            display: inline-block;
            margin: 0 0.5em 0 0;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    h2 {
        position: relative;
        z-index: 999;
        font-size: 3rem;
    }

    .home-work {
        @include span(12 of 12);
        margin-top: gutter() * 9;
        margin-bottom: gutter() * 16;
        position: relative;

        h2 {
            margin: 0;
            padding: 0;
            position: absolute;
            top: calc(-0.7em + 0.333%);
            left: 0;
            line-height: 1;
        }

        .work-list {
            li {
                display: inline-block;
                width: 33.333%;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    height: 100%;
                    box-sizing: content-box;
                }

                .dummy {
                    padding-top: 100%;
                }

                .element {
                    position: absolute;
                    top: 0;
                    bottom: - gutter() * 4;
                    left: 0;
                    right: 0;
                    padding: gutter() * 2;
                    box-sizing: border-box;
                }

                &.double-width {
                    width: 66.666%;

                    .dummy {
                        padding-top: 50%;
                    }

                    .element {
                        padding: gutter();
                    }
                }

                &.double-height {
                    .dummy {
                        padding-top: 200%;
                    }

                    .element {
                        bottom: - gutter() * 2;
                    }
                }

                &.double-height.double-width {
                    .dummy {
                        padding-top: 100%;
                    }

                    .element {
                        padding: gutter();
                    }
                }
            }
        }
    }

    .home-clients {
        @include span(12 of 12);
        position: relative;
        h2 {
            margin: 0;
            padding: 0;
            position: absolute;
            top: -0.7em;
            left: 0;
            line-height: 1;
        }

        .client {
            @include span(3 of 12);
            margin-top: gutter() * 9;
            margin-bottom: gutter() * 9;
            display: inline-block;
            text-align: center;

            img {
                max-width: auto;
                width: 100%;
            }

            &:nth-of-type(5), &:nth-of-type(6) {
                display: none;
            }
        }
    }

    .site-footer {
        @include span(12 of 12);
        margin-top: gutter() * 6;
        margin-bottom: gutter() * 10;
        background-color: $light-grey;

        .social-media-list {
            padding: 0;
            float: right;
            width: auto;
            margin-top: gutter() * 2;

            li {
                list-style-type: none;
                text-align: center;
                padding: 0;

                a {
                    margin-left: 1em;
                }
            }
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
