/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    background: #ccc;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "susy/sass/_susy";

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

$blue: #154899;
$grey: #d0d0d0;
$light-grey: #f5f5f5;

$susy: (
  columns: 12,
  gutters: 1/6,
  gutter-position: inside
);

$base-line-height: 1rem;

body {
    @include container;
    font-family: 'museo-sans', sans-serif;
    font-weight: 300;
}

h1, h2 {
    color: #000;
}

h2 {
    font-weight: 700;
    margin: 0;
    padding: 0.5em 0;
    text-transform: lowercase;
}

img {
    max-width: 100%;
}

article {
    float: left;
    margin-bottom: gutter() * 10;
    width: 100%;
    padding-top: 2em;

    h1, h2, h3 ,p {
        padding: 0 0.59524%;
        margin: 0;
        line-height: 1.2;
    }

    p {
        margin-bottom: 1em;
    }

    h3 {
        font-weight:300;
        font-size:1.5em;
        margin-bottom: 1em;
    }

    h2 {
        text-transform: none;
        margin-bottom: 0.25em;
    }

    h1 {
        font-weight: 700;
        margin-bottom: 0.25em;
    }

    img {
        max-width: 100%;

        &.one-up {
            @include span(12 of 12);
            margin-bottom: gutter() * 2;
        }

        &.two-up {
            @include span(12 of 12);
            margin-bottom: gutter() * 2;
        }

        &.three-up {
            @include span(12 of 12);
            margin-bottom: gutter() * 2;
        }

        &.doublethree-up {
            @include span(12 of 12);
            margin-bottom: gutter() * 2;
        }
    }
}

div {
    &.one-up {
        @include span(12 of 12);
        margin-bottom: gutter() * 2;
    }

    &.two-up {
        @include span(12 of 12);
        margin-bottom: gutter() * 2;
    }

    &.three-up {
        @include span(12 of 12);
        margin-bottom: gutter() * 2;
    }
    &.doublethree-up {
        @include span(12 of 12);
        margin-bottom: gutter() * 2;
    }
}

.honorimg {
    margin-bottom: -4%;
    margin-top: -16%;
}

.imagesfold {
    padding: 0 gutter()/6;
    width: 100%;
}

.wrapper-about h3 .about_bracket {
    position: relative;
    top: 2px;
}

.wrapper-about a, .project-content a {
    text-decoration: none;
    color: #154899;
}

.wrapper-about {
    padding-bottom: 5em;
}

.testimonials {
    padding: 0;

    em {
        display: block;
        margin-top: 0.25em;
    }
    img {
        margin: 1em 0;
    }
}

.site-header {
    @include span(12 of 12);
    background-color: $blue;
    padding-bottom: 1em;
    padding-top: 1em;
}

.site-nav {
    position: relative;
    z-index: 9999;
}

.site-title {
    display: inline-block;
    float: left;
    img {
        height: 32px;
    }
}

.section-header {
    position: absolute;
    top: -2rem;
    padding-left: 0.3%;
    z-index: 999;
    h2 {
        display: inline-block;
        line-height: 1;
        padding: 0;
        margin-left: 0.25rem;
        font-size: 2.6rem;
    }

    img {
        width: 2em;
    }
}

.nav-links {
    float: right;
    a {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #ffffff;
        display: inline-block;
        font-size: 1.25em;
        font-weight: 700;
        letter-spacing: 0.02em;
        margin: 0 0.5em 0 0;
        position: relative;
        text-decoration: none;
        text-transform: lowercase;

        span {
            display: inline-block;
            padding: 0.25em 0.5em;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
    a:before,
    a:after {
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
    }
    a:before {
      background-image: -webkit-linear-gradient(to right, #e4047d 0%, #e4047d 100%), -webkit-linear-gradient(right, #f49e12 0%, #f49e12 100%);
      background-image: -moz-linear-gradient(to right, #e4047d 0%, #e4047d 100%), -moz-linear-gradient(right, #f49e12 0%, #f49e12 100%);
      background-image: -o-linear-gradient(to right, #e4047d 0%, #e4047d 100%), -o-linear-gradient(right, #f49e12 0%, #f49e12 100%);
      background-image: linear-gradient(to right, #e4047d 0%, #e4047d 100%), linear-gradient(to left, #f49e12 0%, #f49e12 100%);
      background-position: 0 0, 0 100% ;
      background-repeat: no-repeat;
      background-size: 100% 2px;
      -webkit-background-size: 100% 2px;
      -moz-background-size: 100% 2px;
    }
    a:after {
      background-image: -webkit-linear-gradient(top, #e4047d 0%, #e4047d 50%), -webkit-linear-gradient(to top, #f49e12 0%, #f49e12 100%);
      background-image: -moz-linear-gradient(top, #e4047d 0%, #e4047d 50%), -moz-linear-gradient(to top, #f49e12 0%, #f49e12 100%);
      background-image: -o-linear-gradient(top, #e4047d 0%, #e4047d 50%), -o-linear-gradient(to top, #f49e12 0%, #f49e12 100%);
      background-image: linear-gradient(to bottom, #e4047d 0%, #e4047d 50%), linear-gradient(to top, #f49e12 0%, #f49e12 100%);
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      background-size: 2px 100%;
      left: 0;
      position: absolute;
      -webkit-background-size: 2px 100%;
      -moz-background-size: 2px 100%;
    }
    a:hover:before {
      background-image: -webkit-linear-gradient(to right, #f49e12 0%, #f49e12 100%), -webkit-linear-gradient(right, #e4047d 0%, #e4047d 100%);
      background-image: -moz-linear-gradient(to right, #f49e12 0%, #f49e12 100%), -moz-linear-gradient(right, #e4047d 0%, #e4047d 100%);
      background-image: -o-linear-gradient(to right, #f49e12 0%, #f49e12 100%), -o-linear-gradient(right, #e4047d 0%, #e4047d 100%);
      background-image: linear-gradient(to right, #f49e12 0%, #f49e12 100%), linear-gradient(to left, #e4047d 0%, #e4047d 100%);
    }
    a:hover:after {
      background-image: -webkit-linear-gradient(top, #f49e12 0%, #f49e12 50%), -webkit-linear-gradient(to top, #e4047d 0%, #e4047d 100%);
      background-image: -moz-linear-gradient(top, #f49e12 0%, #f49e12 50%), -moz-linear-gradient(to top, #e4047d 0%, #e4047d 100%);
      background-image: -o-linear-gradient(top, #f49e12 0%, #f49e12 50%), -o-linear-gradient(to top, #e4047d 0%, #e4047d 100%);
      background-image: linear-gradient(to bottom, #f49e12 0%, #f49e12 50%), linear-gradient(to top, #e4047d 0%, #e4047d 100%);
    }
}

.home-work {
    @include span(12 of 12);
    padding-bottom: 5em;
    padding-top: 5em;
    position: relative;

    .work-list {
        li {
            display: inline-block;
            width: 100%;

            .cover-image {
                box-sizing: content-box;
                height: 100%;
                max-height: 100%;
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

.home-clients {
    @include span(12 of 12);
    @include container;
    background-color: $grey;
    padding-bottom: gutter() * 2;
    position: relative;
    
    .client-list {
        height: 120px;
    }

    .client {
        @include span(4 of 12);
        display: inline-block;
        text-align: center;
        padding: 1em;

        img {
            max-width: 100%;
            vertical-align: middle;
        }
        @include vertical-align;
    }
}

.site-footer {
    @include span(12 of 12);
    background-color: $light-grey;
    padding-bottom: 40px;
    padding-top: 20px;

    .footer-nav {
        float: left;
        margin: 0;
        padding: 0;
        width: auto;

        ul {
            margin: 0.5rem 0 0 0;
            padding: 0;
        }

        ul li {
            display: inline-block;
            font-size: 1.2rem;
            list-style-type: none;
            a {
                color: #000;
                text-decoration: none;

                &:hover, &:active {
                    color: $blue;
                }
            }
            &:after {
                content: '/';
                margin-left: 0.25rem;
            }
            &:last-of-type:after {
                content: '';
            }
        }

        img {
            vertical-align: top;
            width: 124px;
        }
    }

    .social-media-list {
        @include container;
        margin: 0;
        padding: 0;
        float: right;
        width: 60%;
        margin-top: 32px;

        li {
            @include span(2 of 10);
            list-style-type: none;
            padding: 0;
            text-align: center;

            a {
                background-color: #154899;
                border-radius: 18px;
                display: inline-block;
                height: 36px;
                width: 36px;
                margin-left: 8px;

                img {
                    @include vertical-align;
                    height: 50%;
                    top: 40%;
                    width: 50%;
                }
            }
        }
    }

    .squiggle {
        clear: both;
        display: block;
        margin: 0 auto;
        padding-top: 2em;
        width: 4em;
    }
}

.home-banner {
    background-color: $blue;
    padding-bottom: gutter() * 6;
    padding-top: gutter() * 6;
    text-align: center;
    height: 100vh;

    .content {
        @include vertical-align;
        top: 45%;
    }

    .dot {
        height: 1em;
        margin-top: 2em;
        width: 0.75em;
    }

    .logo {
        display: inline-block;
        margin: 0 auto 2em auto;
        width: 50%;
    }

    ul {
        margin: 0;
        margin-left: gutter() * 3;
        margin-right: gutter() * 3;
        padding: 0;
    }

    li {
        list-style-type: none;
        position: relative;

        a {
            display: inline-block;
            text-decoration: none;
        }

        h1 {
            color: white;
            margin: 0;
            text-transform: lowercase;
        }

        svg {
            display: block;
            margin: 0 auto;
            max-width: 1280px;
        }
    }
}

.work-list {
    margin: 0;
    padding: 0;

    .type {
        font-size: 0.875rem;
        text-transform: uppercase;
    }

    .squiggle, .dot {
        margin: 1em auto;
    }

    .squiggle {
        width: 3em;
    }

    .dot {
        height: 1em;
        width: 0.75em;
    }

    p {
        font-size: 1.2rem;
    }

    li {
        list-style-type: none;
    }

    img {
        max-width: 100%;
    }

    #read-more :hover {

    }

    li {
        float: left;
        position: relative;
    }
    li a,
    li a img {
        display: block;
        position: relative;
    }
    li a {
        overflow: hidden;
    }
    li a div {
        background: #000;
        background: rgba(0,0,0,0.8);
        height: 100%;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    li a div span {
        @include vertical-align;
        color: rgba(255,255,255,0.9);
        display: block;
        font-weight: normal;
        padding: 1rem;
    }
    .double-width a div span {
        margin: 0 auto;
        max-width: 50%;
    }
    .double-height a div span {
        max-height: 50%;
    }
}

.caption {
    padding-top: 7px;
}

.work-list, .client-list, .footer-content, .project-content, .header-content, .wrapper-about {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    position: relative;
}

.wrapper-about {
    clear: both;
    padding: 5em 0;
}

.wrapper-about .section-header {
    top: 3rem;
}

.about-img {
    position: inline block;
    padding-left: 0;
    padding-right: 0;
}

.collapse-trigger {
    cursor: pointer;
    margin: 1em 0;
    padding: 0 gutter();
}

.collapse-trigger img {
    padding-left: 7px;
    position: relative;
    top: 5px;
    width: 15px;
}

.collapse {
    display: none;
    padding-bottom: 2em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

@media only screen and (max-width: 65em) {
    .site-header, .site-footer, .wrapper-about, .project-content {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media only screen and (min-width: 35em) {
    .wrapper-about a, .project-content a {
        display: inline-block;
        padding-bottom: 3px;
        position: relative;
    }
    .wrapper-about a:before, .project-content a:before {
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        transition: width 0s ease, background .5s ease;
        width: 0;
    }
    .wrapper-about a:after, .project-content a:after {
        background: #e4077e;
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        right: 0;
        transition: width .5s ease;
        width: 0;
    }
    .wrapper-about a:hover:before, .project-content a:hover:before {
        background: #e4077e;
        transition: width .5s ease;
        width: 100%;
    }
    .wrapper-about a:hover:after, .project-content a:hover:after {
        background: transparent;
        transition: all 0s ease;
        width: 100%;
    }
    .site-header {
        padding-bottom: 30px;
        padding-top: 45px;
    }
    .home-banner {
        height: auto;
        .content {
            top: 0;
            -ms-transform: none;
            -webkit-transform: none;
            transform: none;
        }
        .logo {
            width: 15em;
        }
    }
    .site-subtitle {
        cursor: pointer;
        position: relative;
        text-align: center;
        z-index: 99999;

        &> div {
            position: relative;
        }

        h1 {
            font-size: 6rem;
            padding: 0 0.5em;
        }

        svg {
            position: absolute;
        }

        &:focus {
            outline: none;
        }
    }

    h2 {
        font-size: 3rem;
    }

    article {
        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        img {
            &.one-up {
                @include span(12 of 12);
                margin-bottom: gutter() * 2;
            }

            &.two-up {
                @include span(6 of 12);
                margin-bottom: gutter() * 2;
            }

            &.three-up {
                @include span(4 of 12);
                margin-bottom: gutter() * 2;
            }

            &.doublethree-up {
                @include span(8 of 12);
                margin-bottom: gutter() * 2;
            }
        }
    }

    div {
        &.one-up {
            @include span(12 of 12);
            margin-bottom: gutter() * 2;
        }

        &.two-up {
            @include span(6 of 12);
            margin-bottom: gutter() * 2;
        }

        &.three-up {
            @include span(4 of 12);
            margin-bottom: gutter() * 2;
        }
        &.doublethree-up {
            @include span(8 of 12);
            margin-bottom: gutter() * 2;
        }
    }

    .home-work {
        @include span(12 of 12);
        padding-bottom: gutter() * 16;
        padding-top: gutter() * 9;
        position: relative;

        .work-list {
            li {
                display: inline-block;
                width: 33.333%;

                .cover-image {
                    box-sizing: content-box;
                    height: 100%;
                    max-height: 100%;
                    max-width: 100%;
                    width: 100%;
                }

                .dummy {
                    padding-top: 100%;
                }

                .element {
                    bottom: - gutter() * 4;
                    box-sizing: border-box;
                    left: 0;
                    padding: gutter() * 2;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                &.double-width {
                    width: 66.666%;

                    .dummy {
                        padding-top: 50%;
                    }

                    .element {
                        padding: gutter();
                    }
                }

                &.double-height {
                    .dummy {
                        padding-top: 200%;
                    }

                    .element {
                        bottom: - gutter() * 2;
                    }
                }

                &.double-height.double-width {
                    .dummy {
                        padding-top: 100%;
                    }

                    .element {
                        padding: gutter();
                    }
                }
            }
        }
    }

    .home-clients {
        @include span(12 of 12);
        position: relative;
        
        .client-list {
            height: 300px;
        }

        .section-header {
            margin-top: -3px;
        }

        .client {
            @include span(2 of 12);
            display: inline-block;
            text-align: center;
            padding: 0;

            img {
                vertical-align: middle;
            }
            @include vertical-align;
        }
    }

    .site-footer {
        padding-bottom: 100px;
        padding-top: 80px;

        .social-media-list {
            width: auto;
            margin-top: 0;
            li {
                a {
                    border-radius: 33px;
                    height: 66px;
                    margin-left: 1em;
                    width: 66px;

                    img {
                        top: 50%;
                    }
                }
            }
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.site-subtitle:hover a {
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

.site-subtitle {
    position: relative;
    text-align: center;

    svg {
        visibility: hidden;
    }
}

ul {
    list-style-type: none;
    padding: 0 0.59524%;
}
/*
* read more animation
*/

.sliding-u-l-r-l {
    display: inline-block;
    padding-bottom: 3px;
    position: relative;
}
.sliding-u-l-r-l:before {
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transition: width 0s ease, background .5s ease;
    width: 0;
}
.sliding-u-l-r-l:after {
    background: #e4077e;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    right: 0;
    transition: width .5s ease;
    width: 0;
}
.sliding-u-l-r-l:hover:before {
    background: #e4077e;
    transition: width .5s ease;
    width: 100%;
}
.sliding-u-l-r-l:hover:after {
    background: transparent;
    transition: all 0s ease;
    width: 100%;
}

/*
* END read more animation 
*/
