/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "susy/sass/_susy";

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$blue: #154899;
$grey: #d0d0d0;
$light-grey: #f5f5f5;

$susy: (
  columns: 12,
  gutters: 1/6,
  gutter-position: inside
);

$base-line-height: 1rem;

body {
    @include container;
    font-family: 'museo-sans', sans-serif;
    font-weight: 300;
}

h1, h2 {
    color: #000;
}

h2 {
    padding: 0.5em 0;
    margin: 0;
    font-weight: 700;
    text-transform: lowercase;
}

img {
    max-width: 100%;
}

article {
    float: left;
    width: 100%;
    margin-bottom: gutter() * 10;

    h1, h2 ,p {
        padding: 0 gutter();
    }

    img {
        max-width: 100%;

        &.one-up {
            @include span(12 of 12);
            margin-bottom: gutter() * 2;
        }

        &.two-up {
            @include span(6 of 12);
            margin-bottom: gutter() * 2;
        }

        &.three-up {
            @include span(4 of 12);
            margin-bottom: gutter() * 2;
        }

        &.doublethree-up {
            @include span(8 of 12);
            margin-bottom: gutter() * 2;
        }
    }
}

div {

        &.one-up {
            @include span(12 of 12);
            margin-bottom: gutter() * 2;
        }

        &.two-up {
            @include span(6 of 12);
            margin-bottom: gutter() * 2;
        }

        &.three-up {
            @include span(4 of 12);
            margin-bottom: gutter() * 2;
        }
        &.doublethree-up {
            @include span(8 of 12);
            margin-bottom: gutter() * 2;
        }

    }

.honorimg {
    margin-top: -16%;
    margin-bottom: -4%;
}

.imagesfold {
    padding: 0 gutter()/6;
    width: 100%;
}

.wrapper-about h3 .about_bracket {
    position: relative;
    top: 2px;
}

.site-header {
    @include span(12 of 12);
    background-color: $blue;
}

.site-footer {
    @include span(12 of 12);
    background-color: $light-grey;

    .footer-nav {
        margin: 0;
        padding: 0;
        float: left;
        width: auto;

        ul {
            padding: 0;
            margin: 0.5rem 0 0 0;
        }

        ul li {
            display: inline-block;
            list-style-type: none;
            font-size: 1.2rem;
            a {
                text-decoration: none;
                color: #000;

                &:hover, &:active {
                    color: $blue;
                }
            }
            &:after {
                content: '/';
                margin-left: 0.25rem;
            }
            &:last-of-type:after {
                content: '';
            }
        }

        img {
            width: 124px;
            vertical-align: top;
        }
    }

    .social-media-list {
        @include container;
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            @include span(2 of 10);
            text-align: center;

            a {
                display: inline-block;
                width: 66px;
                height: 66px;
                border-radius: 33px;
                background-color: #154899;

                img {
                    @include vertical-align;
                    width: 50%;
                    height: 50%;
                }
            }

            // &:first-of-type a {
            //     background: #e40d7d; /* Old browsers */
            //     background: -moz-linear-gradient(-45deg, #e40d7d 66%, #254e9d 100%); /* FF3.6+ */
            //     background: -webkit-gradient(linear, left top, right bottom, color-stop(66%,#e40d7d), color-stop(100%,#254e9d)); /* Chrome,Safari4+ */
            //     background: -webkit-linear-gradient(-45deg, #e40d7d 66%,#254e9d 100%); /* Chrome10+,Safari5.1+ */
            //     background: -o-linear-gradient(-45deg, #e40d7d 66%,#254e9d 100%); /* Opera 11.10+ */
            //     background: -ms-linear-gradient(-45deg, #e40d7d 66%,#254e9d 100%); /* IE10+ */
            //     background: linear-gradient(135deg, #e40d7d 66%,#254e9d 100%); /* W3C */
            //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40d7d', endColorstr='#254e9d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            // }

            // &:nth-of-type(2) a, &:nth-of-type(3) a, &:nth-of-type(4) a {
            //     background: #e40d7d; /* Old browsers */
            //     background: -moz-linear-gradient(-45deg, #e40d7d 33%, #254e9d 66%); /* FF3.6+ */
            //     background: -webkit-gradient(linear, left top, right bottom, color-stop(33%,#e40d7d), color-stop(66%,#254e9d)); /* Chrome,Safari4+ */
            //     background: -webkit-linear-gradient(-45deg, #e40d7d 33%,#254e9d 66%); Chrome10+,Safari5.1+
            //     background: -o-linear-gradient(-45deg, #e40d7d 33%,#254e9d 66%); /* Opera 11.10+ */
            //     background: -ms-linear-gradient(-45deg, #e40d7d 33%,#254e9d 66%); /* IE10+ */
            //     background: linear-gradient(135deg, #e40d7d 33%,#254e9d 66%); /* W3C */
            //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40d7d', endColorstr='#254e9d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            // }

            // &:last-of-type a {
            //     background: #e40d7d; /* Old browsers */
            //     background: -moz-linear-gradient(-45deg, #e40d7d 0%, #254e9d 66%); /* FF3.6+ */
            //     background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e40d7d), color-stop(66%,#254e9d)); /* Chrome,Safari4+ */
            //     background: -webkit-linear-gradient(-45deg, #e40d7d 0%,#254e9d 66%); /* Chrome10+,Safari5.1+ */
            //     background: -o-linear-gradient(-45deg, #e40d7d 0%,#254e9d 66%); /* Opera 11.10+ */
            //     background: -ms-linear-gradient(-45deg, #e40d7d 0%,#254e9d 66%); /* IE10+ */
            //     background: linear-gradient(135deg, #e40d7d 0%,#254e9d 66%); /* W3C */
            //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40d7d', endColorstr='#254e9d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            // }
        }
    }

    .squiggle {
        width: 4em;
        margin: 0 auto;
        padding-top: 2em;
        display: block;
        clear: both;
    }
}

.home-banner {
    background-color: $blue;
    padding-top: gutter() * 6;
    padding-bottom: gutter() * 6;
    text-align: center;

    .logo {
        width: 15em;
        margin: 0 auto 2em auto;
        display: inline-block;
    }

    ul {
        margin: 0;
        margin-left: gutter() * 3;
        margin-right: gutter() * 3;
        padding: 0;
    }

    li {
        list-style-type: none;
        position: relative;

        a {
            text-decoration: none;
            display: inline-block;
        }

        h1 {
            color: white;
            text-transform: lowercase;
            margin: 0;
        }

        svg {
            display: block;
            max-width: 1280px;
            margin: 0 auto;
        }
    }
}

.work-list {
    margin: 0;
    padding: 0;

    .type {
        text-transform: uppercase;
        font-size: 0.875rem;
    }

    .squiggle, .dot {
        margin: 1em auto;
    }

    .squiggle {
        width: 3em;
    }

    .dot {
        width: 0.75em;
        height: 1em;
    }

    p {
        font-size: 1.2rem;
    }

    li {
        list-style-type: none;
    }

    img {
        max-width: 100%;
    }

    #read-more :hover {

    }

    li {
        float: left;
        position: relative;
    }
    li a,
    li a img {
        display: block;
        position: relative;
    }
    li a {
        overflow: hidden;
    }
    li a div {
        position: absolute;
        background: #000;
        background: rgba(0,0,0,0.8);
        width: 100%;
        height: 100%;
        text-align: center;
    }
    li a div span {
        @include vertical-align;
        padding: 1rem;
        display: block;
        font-weight: normal;
        color: rgba(255,255,255,0.9);
    }
    .double-width a div span {
        max-width: 50%;
        margin: 0 auto;
    }
    .double-height a div span {
        max-height: 50%;
    }
}

.home-clients {
    background-color: $grey;
    @include container;
    padding-bottom: gutter() * 2;

    .client {
        @include span(2 of 12);
        display: inline-block;

        img {
            max-width: 100%;
        }
    }
}

.caption {
    padding-top: 7px;
}

.work-list, .client-list, .footer-content, .project-content, .header-content, .wrapper-thanks, .wrapper-about, .wrapper-contact {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.wrapper-thanks, .wrapper-about, .wrapper-contact {
    clear: both;
    padding: 5em 0;
}

.wrapper-thanks .section-header, .wrapper-about .section-header, .wrapper-contact .section-header {
    top: 3rem;
}


.collapse-trigger {
    cursor: pointer;
    padding: 0 gutter();
    margin: 1em 0;
}

.collapse-trigger img {
    padding-left: 7px;
    position: relative;
    top: 5px;
    width: 15px;
}

.collapse {
    display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 35em) {
    .site-header {
        padding-top: 45px;
        padding-bottom: 60px;
    }
    .site-title {
        display: inline-block;
        float: left;
        img {
            height: 32px;
        }
    }
    .site-subtitle {
        text-align: center;
        position: relative;
        z-index: 99999;
        cursor: pointer;

        &> div {
            position: relative;
        }

        h1 {
            font-size: 6rem;
            padding: 0 1em;
        }

        svg {
            position: absolute;
            visibility: hidden;
        }

        &:focus {
            outline: none;
        }
    }
    .menu-icon {
        display: none;
    }
    .nav-links {
        float: right;
        a {
            position: relative;
            text-transform: lowercase;
            text-decoration: none;
            font-size: 1.25em;
            font-weight: 700;
            letter-spacing: 0.02em;
            color: #ffffff;
            display: inline-block;
            margin: 0 0.5em 0 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            span {
                display: inline-block;
                padding: 0.25em 0.5em;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
        a:before,
        a:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
        }
        a:before {
          background-position: 0 0, 0 100% ;
          background-repeat: no-repeat;
          -webkit-background-size: 100% 2px;
          -moz-background-size: 100% 2px;
          background-size: 100% 2px;
          background-image: -webkit-linear-gradient(to right, #e4047d 0%, #e4047d 100%), -webkit-linear-gradient(right, #f49e12 0%, #f49e12 100%);
          background-image: -moz-linear-gradient(to right, #e4047d 0%, #e4047d 100%), -moz-linear-gradient(right, #f49e12 0%, #f49e12 100%);
          background-image: -o-linear-gradient(to right, #e4047d 0%, #e4047d 100%), -o-linear-gradient(right, #f49e12 0%, #f49e12 100%);
          background-image: linear-gradient(to right, #e4047d 0%, #e4047d 100%), linear-gradient(to left, #f49e12 0%, #f49e12 100%);
        }
        a:after {
          background-position: 0 0, 100% 0;
          background-repeat: no-repeat;
          -webkit-background-size: 2px 100%;
          -moz-background-size: 2px 100%;
          background-size: 2px 100%;
          background-image: -webkit-linear-gradient(top, #e4047d 0%, #e4047d 50%), -webkit-linear-gradient(to top, #f49e12 0%, #f49e12 100%);
          background-image: -moz-linear-gradient(top, #e4047d 0%, #e4047d 50%), -moz-linear-gradient(to top, #f49e12 0%, #f49e12 100%);
          background-image: -o-linear-gradient(top, #e4047d 0%, #e4047d 50%), -o-linear-gradient(to top, #f49e12 0%, #f49e12 100%);
          background-image: linear-gradient(to bottom, #e4047d 0%, #e4047d 50%), linear-gradient(to top, #f49e12 0%, #f49e12 100%);
          position: absolute;
          left: 0;
        }
        a:hover:before {
          background-image: -webkit-linear-gradient(to right, #f49e12 0%, #f49e12 100%), -webkit-linear-gradient(right, #e4047d 0%, #e4047d 100%);
          background-image: -moz-linear-gradient(to right, #f49e12 0%, #f49e12 100%), -moz-linear-gradient(right, #e4047d 0%, #e4047d 100%);
          background-image: -o-linear-gradient(to right, #f49e12 0%, #f49e12 100%), -o-linear-gradient(right, #e4047d 0%, #e4047d 100%);
          background-image: linear-gradient(to right, #f49e12 0%, #f49e12 100%), linear-gradient(to left, #e4047d 0%, #e4047d 100%);
        }
        a:hover:after {
          background-image: -webkit-linear-gradient(top, #f49e12 0%, #f49e12 50%), -webkit-linear-gradient(to top, #e4047d 0%, #e4047d 100%);
          background-image: -moz-linear-gradient(top, #f49e12 0%, #f49e12 50%), -moz-linear-gradient(to top, #e4047d 0%, #e4047d 100%);
          background-image: -o-linear-gradient(top, #f49e12 0%, #f49e12 50%), -o-linear-gradient(to top, #e4047d 0%, #e4047d 100%);
          background-image: linear-gradient(to bottom, #f49e12 0%, #f49e12 50%), linear-gradient(to top, #e4047d 0%, #e4047d 100%);
        }
    }
    h2 {
        font-size: 3rem;
    }

    .section-header {
        z-index: 999;
        position: absolute;
        top: -2rem;
        h2 {
            padding: 0;
            margin-left: 0.25em;
            line-height: 1;
            display: inline-block;
        }

        img {
            width: 2em;
        }
    }

    .home-work {
        @include span(12 of 12);
        padding-top: gutter() * 9;
        padding-bottom: gutter() * 16;
        position: relative;

        .work-list {
            li {
                display: inline-block;
                width: 33.333%;

                .cover-image {
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    height: 100%;
                    box-sizing: content-box;
                }

                .dummy {
                    padding-top: 100%;
                }

                .element {
                    position: absolute;
                    top: 0;
                    bottom: - gutter() * 4;
                    left: 0;
                    right: 0;
                    padding: gutter() * 2;
                    box-sizing: border-box;
                }

                &.double-width {
                    width: 66.666%;

                    .dummy {
                        padding-top: 50%;
                    }

                    .element {
                        padding: gutter();
                    }
                }

                &.double-height {
                    .dummy {
                        padding-top: 200%;
                    }

                    .element {
                        bottom: - gutter() * 2;
                    }
                }

                &.double-height.double-width {
                    .dummy {
                        padding-top: 100%;
                    }

                    .element {
                        padding: gutter();
                    }
                }
            }
        }
    }

    .home-clients {
        @include span(12 of 12);
        position: relative;
        
        .client-list {
            height: 300px;
        }

        .client {
            @include span(2 of 12);
            @include vertical-align;
            display: inline-block;
            text-align: center;

            img {
                vertical-align: middle;
            }
        }
    }

    .site-footer {
        padding-top: 80px;
        padding-bottom: 100px;

        .social-media-list {
            padding: 0;
            float: right;
            width: auto;
            li {
                list-style-type: none;
                text-align: center;
                padding: 0;

                a {
                    margin-left: 1em;
                }
            }
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.site-subtitle:hover a {
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0 0.59524%;
    list-style-type: none;
}
/*
* read more animation
*/

.sliding-u-l-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #e4077e;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:before {
    width: 100%;
    background: #e4077e;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

/*
* END read more animation 
*/
